body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0CBAA6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    gap: 10px;
    height: 95%;
    width: 95%;
}

.grid-item {
    background-color: white;
    text-align: center;
    position: relative;
    border-radius: 15px;
    
}

.grid-item:nth-child(1) {
    grid-row: span 5;
    grid-column: span 100;
    background-color: #0CBAA6;
    font-size: 40px;
    margin-bottom: 3%;
}

.grid-item:nth-child(2) {
    grid-row: span 40; 
    grid-column: span 30;
}

.grid-item:nth-child(3) {
    grid-row: span 55; 
    grid-column: span 40;
}
.grid-item:nth-child(4) {
    grid-row: span 60; 
    grid-column: span 30;
}
.grid-item:nth-child(5) {
    grid-row: span 45; 
    grid-column: span 30;
}
.grid-item:nth-child(6) {
    grid-row: span 30; 
    grid-column: span 40; 
}
.grid-item:nth-child(7) {
    grid-row: span 25; 
    grid-column: span 30;
}

h1{
    font-size: 24px;
}
textarea{

    font-size: 14px;
    width: 95%;
    height: 70%;
    border: none;
    overflow: auto;
}

button{
    margin: 10px;
    height: 10%;
    background-color: orange;  
    width: 90%;
    border-radius: 10px;
    font-size: 24px;
    border: none;
    margin-top: 5%;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 77%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

}

.calendar-item {
    background-color: lightgray;
    text-align: center;
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 5px;
    border-radius: 5px;
}

form{
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 5px;
    height: 72%;
}

.item1{
    height: 10%;
    width: 100%;
    text-align: left;
    font-size: 14px;
    background-color: red;
}

/* Dropdown container */
select {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 25px;
    font-size: 24px;
}

.study-session-labels{
    background-color: lightsalmon;
    padding: 5px;
    border-radius: 10px;
    font-size: 24px;
}

.task{
    margin-bottom: 5%;

}
.timer{
    font-size: 40px;
}

.study-session-1{
    display: block;
}

.study-session-2{
    display: none;
}

.countdown{
    font-size: 40px;
}


#newTaskInput {
    display: none;
}

.task-label.checked {
    text-decoration: line-through;
}

#study-session-2 {
    display: none;
}